<div class="row justify-content-center">
  <div class="col-1">
    <div id="circle"></div>
  </div>
  <div class="col-1">
    <div id="circle"></div>
  </div>
  <div class="col-1">
    <div id="circle"></div>
  </div>
</div>

<div class="row mt-5 justify-content-center">
  <div class="col-5">
    <h1 class="container">
      {{ minutos }}:<div *ngIf="segundos != 0">{{ segundos }}</div>
      <div *ngIf="segundos === 0">00</div>
    </h1>
  </div>
  <div class="col-2">
    <button class="btn btn-primary" (click)="this.iniciarTimer();" *ngIf="iniciar"><i class="fa-solid fa-play"></i></button>

    <button class="btn btn-primary" (click)="this.pausarTimer();" *ngIf="pausar"><i class="fa-solid fa-pause"></i></button>

  </div>
</div>